In [1]:
import numpy as np
import pandas as pd
import os

In [67]:
class ComputerCostOutlook:
    def __init__(self, nb_filepath: str, pc_filepath: str, output_folder: str):
        self.nb_filepath = nb_filepath
        self.pc_filepath = pc_filepath
        self.output_folder = output_folder
    
    def _load_data(self):
        df_nb = pd.read_csv('../data/NB.csv')
        df_pc = pd.read_csv('../data/PC.csv')
        df_nb.columns = [c.strip() for c in df_nb.columns]
        df_pc.columns = [c.strip() for c in df_pc.columns]
        return df_nb, df_pc
    
    def _find_isn_with_maxtc(self, df_nb, df_pc):
        df_isn_with_maxtc = pd.DataFrame()
        df_nb_maxtc = df_nb.loc[[df_nb.query('Defective == False')['Total Cost'].idxmax()], ['Product Type', 'ISN', 'Total Cost']]
        df_isn_with_maxtc = pd.concat([df_isn_with_maxtc, df_nb_maxtc]).reset_index(drop=True)
        df_pc_maxtc = df_pc.loc[[df_pc.query('Defective == False')['Total Cost'].idxmax()], ['Product Type', 'ISN', 'Total Cost']]
        df_isn_with_maxtc = pd.concat([df_isn_with_maxtc, df_pc_maxtc]).reset_index(drop=True)
        return df_isn_with_maxtc
    
    def _total_cost_desc(self, df_nb, df_pc):
        df_nb_sub = df_nb.query('Defective == False')
        df_pc_sub = df_pc.query('Defective == False')
        df_cost_desc = pd.DataFrame({
            'Product Type': ['NB', 'PC'],
            'total_cost_max': [df_nb_sub['Total Cost'].max(), df_pc_sub['Total Cost'].max()],
            'total_cost_min': [df_nb_sub['Total Cost'].min(), df_pc_sub['Total Cost'].min()],
            'total_cost_avg': [round(df_nb_sub['Total Cost'].mean(), 2), round(df_pc_sub['Total Cost'].mean(), 2)]
        })
        return df_cost_desc
    
    def _bettery_cost_desc(self, df_nb):
        df_nb_sub = df_nb.query('Defective == False')
        df_bet_cost_desc = pd.DataFrame({
            'Product Type': ['NB'],
            'bettery_cost_max': [df_nb_sub['Total Cost'].max()],
            'bettery_cost_min': [df_nb_sub['Total Cost'].min()],
            'bettery_cost_avg': [round(df_nb_sub['Total Cost'].mean(), 2)]
        })
        return df_bet_cost_desc

    def execute(self):
        df_nb, df_pc = self._load_data()
        df_isn_with_maxtc = self._find_isn_with_maxtc(df_nb=df_nb, df_pc=df_pc)
        df_cost_desc = self._total_cost_desc(df_nb=df_nb, df_pc=df_pc)
        df_bet_cost_desc = self._bettery_cost_desc(df_nb=df_nb)
        output_filepath = os.path.join('../', 'result.xlsx')
        with pd.ExcelWriter(output_filepath) as writer:
            df_isn_with_maxtc.to_excel(writer, sheet_name='result 1', index=0)
            df_cost_desc.to_excel(writer, sheet_name='result 2', index=0)
            df_bet_cost_desc.to_excel(writer, sheet_name='result 3', index=0)

In [69]:
os.path.join('../', 'result.xlsx')

'../result.xlsx'

In [65]:
op = ComputerCostOutlook(nb_filepath='../data/NB.csv', pc_filepath='../data/PC.csv')

In [66]:
op.execute()

In [56]:
df_nb = pd.read_csv('../data/NB.csv')
df_pc = pd.read_csv('../data/PC.csv')
df_nb.columns = [c.strip() for c in df_nb.columns]
df_pc.columns = [c.strip() for c in df_pc.columns]

In [62]:
df_nb_sub = df_nb.query('Defective == False')
df_bet_cost_desc = pd.DataFrame({
    'Product Type': ['NB'],
    'bettery_cost_max': [df_nb_sub['Total Cost'].max()],
    'bettery_cost_min': [df_nb_sub['Total Cost'].min()],
    'bettery_cost_avg': [round(df_nb_sub['Total Cost'].mean(), 2)]
})

In [6]:
df_pc = pd.DataFrame({
        'Product Type': ['PC', 'PC', 'PC', 'PC', 'PC'],
        'ISN': ['PC1', 'PC2', 'PC3', 'PC4', 'PC5'],
        'Defective ': [False, False, True, True, True],
        'CPU Cost': [8, 10, 12, 14, 16],
        'Network Card Cost': [6, 8, 10, 12, 14],
        'Total Cost': [4, 6, 8, 10, 12]
    })

In [7]:
df_pc2 = pd.DataFrame({
        'Product Type': ['PC', 'PC', 'PC', 'PC', 'PC'],
        'ISN': ['PC1', 'PC2', 'PC3', 'PC4', 'PC5'],
        'Defective ': [False, False, True, True, True],
        'CPU Cost': [8, 10, 12, 14, 16],
        'Network Card Cost': [6, 8, 10, 12, 14],
        'Total Cost': [4, 6, 8, 10, 12]
    })

In [8]:
df_pc == df_pc2

   Product Type   ISN  Defective   CPU Cost  Network Card Cost  Total Cost
0          True  True        True      True               True        True
1          True  True        True      True               True        True
2          True  True        True      True               True        True
3          True  True        True      True               True        True
4          True  True        True      True               True        True

In [4]:
df_pc.columns = [c.strip() for c in df_pc.columns]

In [5]:
df_pc

  Product Type  ISN  Defective  CPU Cost  Network Card Cost  Total Cost
0           PC  PC1      False         8                  6           4
1           PC  PC2      False        10                  8           6
2           PC  PC3       True        12                 10           8
3           PC  PC4       True        14                 12          10
4           PC  PC5       True        16                 14          12