In [68]:
import numpy as np
import pandas as pd
import os

In [67]:
class ComputerCostOutlook:
    def __init__(self, nb_filepath: str, pc_filepath: str, output_folder: str):
        self.nb_filepath = nb_filepath
        self.pc_filepath = pc_filepath
        self.output_folder = output_folder
    
    def _load_data(self):
        df_nb = pd.read_csv('../data/NB.csv')
        df_pc = pd.read_csv('../data/PC.csv')
        df_nb.columns = [c.strip() for c in df_nb.columns]
        df_pc.columns = [c.strip() for c in df_pc.columns]
        return df_nb, df_pc
    
    def _find_isn_with_maxtc(self, df_nb, df_pc):
        df_isn_with_maxtc = pd.DataFrame()
        df_nb_maxtc = df_nb.loc[[df_nb.query('Defective == False')['Total Cost'].idxmax()], ['Product Type', 'ISN', 'Total Cost']]
        df_isn_with_maxtc = pd.concat([df_isn_with_maxtc, df_nb_maxtc]).reset_index(drop=True)
        df_pc_maxtc = df_pc.loc[[df_pc.query('Defective == False')['Total Cost'].idxmax()], ['Product Type', 'ISN', 'Total Cost']]
        df_isn_with_maxtc = pd.concat([df_isn_with_maxtc, df_pc_maxtc]).reset_index(drop=True)
        return df_isn_with_maxtc
    
    def _total_cost_desc(self, df_nb, df_pc):
        df_nb_sub = df_nb.query('Defective == False')
        df_pc_sub = df_pc.query('Defective == False')
        df_cost_desc = pd.DataFrame({
            'Product Type': ['NB', 'PC'],
            'total_cost_max': [df_nb_sub['Total Cost'].max(), df_pc_sub['Total Cost'].max()],
            'total_cost_min': [df_nb_sub['Total Cost'].min(), df_pc_sub['Total Cost'].min()],
            'total_cost_avg': [round(df_nb_sub['Total Cost'].mean(), 2), round(df_pc_sub['Total Cost'].mean(), 2)]
        })
        return df_cost_desc
    
    def _bettery_cost_desc(self, df_nb):
        df_nb_sub = df_nb.query('Defective == False')
        df_bet_cost_desc = pd.DataFrame({
            'Product Type': ['NB'],
            'bettery_cost_max': [df_nb_sub['Total Cost'].max()],
            'bettery_cost_min': [df_nb_sub['Total Cost'].min()],
            'bettery_cost_avg': [round(df_nb_sub['Total Cost'].mean(), 2)]
        })
        return df_bet_cost_desc

    def execute(self):
        df_nb, df_pc = self._load_data()
        df_isn_with_maxtc = self._find_isn_with_maxtc(df_nb=df_nb, df_pc=df_pc)
        df_cost_desc = self._total_cost_desc(df_nb=df_nb, df_pc=df_pc)
        df_bet_cost_desc = self._bettery_cost_desc(df_nb=df_nb)
        output_filepath = os.path.join('../', 'result.xlsx')
        with pd.ExcelWriter(output_filepath) as writer:
            df_isn_with_maxtc.to_excel(writer, sheet_name='result 1', index=0)
            df_cost_desc.to_excel(writer, sheet_name='result 2', index=0)
            df_bet_cost_desc.to_excel(writer, sheet_name='result 3', index=0)

In [69]:
os.path.join('../', 'result.xlsx')

'../result.xlsx'

In [65]:
op = ComputerCostOutlook(nb_filepath='../data/NB.csv', pc_filepath='../data/PC.csv')

In [66]:
op.execute()

In [56]:
df_nb = pd.read_csv('../data/NB.csv')
df_pc = pd.read_csv('../data/PC.csv')
df_nb.columns = [c.strip() for c in df_nb.columns]
df_pc.columns = [c.strip() for c in df_pc.columns]

In [62]:
df_nb_sub = df_nb.query('Defective == False')
df_bet_cost_desc = pd.DataFrame({
    'Product Type': ['NB'],
    'bettery_cost_max': [df_nb_sub['Total Cost'].max()],
    'bettery_cost_min': [df_nb_sub['Total Cost'].min()],
    'bettery_cost_avg': [round(df_nb_sub['Total Cost'].mean(), 2)]
})

In [70]:
df_nb

,Product Type,ISN,Defective,CPU Cost,Network Card Cost,Battery Cost,Total Cost
0,NB,NB1,False,5950,1552,1848,9350
1,NB,NB2,False,3666,1635,1182,6483
2,NB,NB3,False,4804,1722,1511,8037
3,NB,NB4,False,9208,1304,1253,11765
4,NB,NB5,False,6355,1500,1764,9619
...,...,...,...,...,...,...,...
95,NB,NB96,False,6313,1289,1650,9252
96,NB,NB97,False,5845,1275,2000,9120
97,NB,NB98,False,9396,1203,1433,12032
98,NB,NB99,False,4554,1573,1693,7820
99,NB,NB100,False,6909,1210,1469,9588